body{
    background: -webkit-linear-gradient(#888888, white)fixed;
    background: -o-linear-gradient(#888888, white)fixed;
    background: -moz-linear-gradient(#888888, white)fixed;
    background: linear-gradient(#888888, white)fixed;
}
table#grid {
	display:compact;
    position: absolute;
    height:70vh;
    width:70vh;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 15px 15px 15px #888888;
}
label {
    position: relative;
    top: -0.2vh;
    color: beige;
}
#join_form{
    position: relative;
    bottom: 1vh;
}

.table th, .table td { 
     border: none !important;
 }
.main_form{
    background: -webkit-linear-gradient(black, grey)fixed;
    background: -o-linear-gradient(black, grey)fixed;
    background: -moz-linear-gradient(black, grey)fixed;
    background: linear-gradient(black, grey)fixed;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: inline-table;
    box-shadow: 10px 10px 15px #888888;
}

td.even{
    background-color: #dddddd;
}
td.odd{
    background-color: #cccccc;
}

.fade {
   opacity: 0.8;
}
.fade:hover{
    background-color: #aaaaaa;
}

.ball_holder{
	position:relative;
	height:100%;
	width:100%
}

.circle {
	border-radius:100%;
    width: 40%;
    height: 40%;
}

.red{
	background:url(/assets/red.GIF);
    background-size: cover;
}
.green{
	background:url(/assets/green.GIF);
    background-size: cover;
}
.orange{
    background:url(/assets/orange.GIF);
    background-size: cover;
}
.white{
   background:url(/assets/white.GIF);
   background-size: cover;
}
.blue{
    background:url(/assets/blue.GIF);
    background-size: cover;
}


.spinning{

    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
	
}

.spin_with_delay{
    -webkit-animation:spin 50s linear infinite;
    -moz-animation:spin 50s linear infinite;
    animation:spin 50s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }